*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.imagemLogohome{
    width: 150px;
}
.caixaDeFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(84, 90, 99);
    height: 100vh;

  }
  
  .caixaImagens{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;  
   border-radius: 20px;
   box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.61);
   border: 2px solid rgb(53, 52, 52);
   background-color: rgb(47, 54, 58);
   width: 65%;
   height: 80vh;
  }
  .caixaHome{
    display: flex;
    align-items: center;
   
  }
  .DivImagem{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border: 2px solid red;
   font-size: 3em;
   color: rgb(247, 210, 181);
  }
  .divHora{
    color: rgb(241, 231, 198);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 2em;

  }
  .divOrganizaImagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-top: 10px;
  }
  #botaoTeste{
    border: 2px solid red;
    padding: 10px;
  }
  .divRecepcao{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(153, 226, 245); */
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: rgb(241, 231, 198);
    font-size: 2em;
  }