<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Caixa e Estoque</title>
    <link rel="stylesheet" href="estCaixa_style.css">
</head>
<body>

  <div id="menu" class="menu">
         <button id="botaohome" class="botaoTodos botaoSelecionado">Home</button>
         <button id="botaoCaixa" class="botaoTodos">Caixa</button>
         <button id="botaoCadastroP" class="botaoTodos">Cadastro/p</button>
         <button id="botaoPesquisaP" class="botaoTodos">Pesquisa/p</button>
         <button id="botaoMvendido" class="botaoTodos">P/Mais Vendido</button>
         <button id="botaoCalculoVendas" class="botaoTodos">C/vendas</button>
    </div>

    <div id="principal" class="principal">
         <iframe name="if_principal" class="if_principal"></iframe>
    </div>
    <p id="user-data"></p>



    <script src="estoqueCaixaluan.js"></script>
</body>
</html>