<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos mais Vendidos</title>
    <link rel="stylesheet" href="estCaixa_style.css">
</head>
<body>
    
    <div id="caixaCabesalho" class="caixaCabesalho">
         <!-- <img src="imagem/mamutebranco.png" class="imagemLogo"> -->
      </div>
   
   <h1 class="h1Cabecalho">Produtos mais Vendidos</h1> 
   <div id="maisVendidosMae" class="maisVendidosMae">
   <div id="caixaMaisVendidos" class="MercadoriaMaisVendidas">
   </div>
   <button id="botaoMaisVendidos" class="botaoCaixa">Mostrar</button>
    </div>
    <div class="organisaImagem">
        <img src="imagem/mamutebranco.png" class="imagemLogo">  
     </div>
    <script src="maisVendidos.js"></script>
</body>
</html>