<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total em Vendas</title>
    <link rel="stylesheet" href="estCaixa_style.css">
</head>
<body>
    <main>
        
    <div id="caixaCabesalho" class="caixaCabesalho">
        <!-- <img src="imagem/mamutebranco.png" class="imagemLogo">     -->
    </div>
    <h1 class="h1Cabecalho">Total em Vendas</h1> 
    </main>
    <div class="organisaBotaoEdiv">

        <div class="caixaDiarioorganisa">
            <div class="ParagDiv">
                <p>Vendas Diarias</p> 
              <div id="caixaTotalDia" class="caixaTotal"></div> 
            </div>
            
          <div id="caixaValorDiarios" class="caixaValor"></div>  
        </div>

        <button id="botaoAtualiza" class="botaoTotalVendas">Atualizar</button>

        <div class="caixaDiarioorganisa">
            <div class="ParagDiv">
               <p>Vendas Mensais</p>
            <div id="caixaTotalMensal" class="caixaTotal"></div>  
            </div>
           <div id="caixaValorMes" class="caixaValor"></div> 
        </div>
      
    </div>
    <div class="organisaImagem">
        <img src="imagem/mamutebranco.png" class="imagemLogo">  
     </div>
   <script src="totalVendas.js"></script>
</body>
</html>