<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devictxtUsuarioe-width, initial-scale=1.0">
    <title>Autenticação do Cliente</title>
    <link rel="stylesheet" href="usuSen_style.css">
</head>
<body>
    <div id="imagemFundo" class="imagemFundo">
        <img src="imagem/imagemFundo.jpg" class="TamanhoImagem">
    </div>

    <div class="caixaMaeusuarioSenha fundoPopap">
        <div id="organisaInput" class="organisaInput">
            <!-- <img src="imagem/mamutebranco.png" class="imagemLogo"> -->
            
        </div>
        <div id="caixaUsuario" class="organisaInput">
            <label class="labelLogin">Usuario</label>
            <input type="text" name="txtUsuario" id="txtUsuario" class="inputOrganisa" required>
        </div>
        <div id="caixaSenha" class="organisaInput">
            <label>Senha</label>
            <input type="password" name="txtSenha" id="txtSenha" class="inputOrganisa" required>

        </div>
        <div class="organisaBotao">
        <button id="botaoEnviar" class="botaoEnviar">Acessar</button>

        <button id="botaoCadastro" class="botaoEstiloLogin">Ainda não<br>tenho Cadastro</button> 
        </div>
   <div id="message" class="messageStilo"></div>
   <img src="imagem/mamutebranco.png" class="imagemLogoLogin">  
   </div>

    <script src="usuarioEsenha.js"></script>
</body>
</html>