*{
    border: none;
    padding: 0px;
    margin: 0px;

}
.caixaMaeusuarioSenha{
    width: 100%;
    height: 100vh;
    background-color: rgb(62, 71, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.organisaInput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputOrganisa{
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

label{
    font-size: 1.5em;
}
.messageStilo{
  font-size: 2em;
  color: white;
}


/* ---------------cadastro de clientes ------------ */

*{
   
    padding: 0px;
    margin: 0px;
}
.caixaMae{
    background-color: rgb(62, 71, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.inputOrganisa{
    margin-bottom: 30px;
    text-align: center;
    width: 300px;
    height: 30px;
    background-color: white;
    font-size: 1.5em;

   
}
label{
    color: white;
    font-size: 1.5em;
}
.botaoEnviar{
    width: 100px;
    height: 40px;
    background-color: rgb(155, 216, 235);
    border: 2px solid rgb(4, 116, 190);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}
.botaoEnviar:hover{
    box-shadow: 05px 0px 05px rgba(0, 0, 0, 0.527);
    width: 95px;
    height: 35px;
    margin-top: 5px;
    margin-right: 5px;
}
.caixaOrganisalabelinput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.caixaForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.organisaimagem{
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    cursor: pointer;

    /* display: none; */
   
}
.caixaImagem{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}

/* --------pagina de teste------------- */

.caixaTeste{
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(248, 239, 219);
    font-size: 2em;
}
.imagemLogo{
    width: 200px;
    margin: 20px;
   
}
.botaoEstiloLogin{
    margin-left: 20px;
    border: 2px solid rgb(155, 216, 235); 
    background-color:  rgb(4, 116, 190); 
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

.botaoEstiloLogin:hover{
    box-shadow: 05px 0px 05px rgba(0, 0, 0, 0.527);
   
}

.organisaBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
   
}
.TamanhoImagem{
width: 100%;
height: 100vh;
}
.fundoPopap{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999999999999; 
}
.imagemLogoLogin{
    width: 80px;
    margin-top: 40px;
}
.labelLogin{
    margin-top: 30px;
}
.imagemLogoCadastro{
    width: 100px;
}


